*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.contenedor-head{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    margin-right: 0px;
    overflow: hidden;
    position: center;
    cursor: pointer;
}

.contenedor-head > img{
    width: 35%;
    object-fit: conver;
    margin-top: 60px;
    position: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.header{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.header-alert{
    grid-area: alert;
    background: #FFF135;
    color: #00c4cc;
    padding: .5rem;
    text-align: center;
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

nav{
    display: block;
    flex: auto;
    background: #00c4cc;
    color: #FFF135;
    text-align: center;
    padding: 30px 60px;
}
nav > a{
    color: #FFF135;
    font-weight: 300;
    text-decoration: none;
    margin-right: 20px;
}

nav > a:hover{
    text-decoration: underline;   
}


.menu-navegacion{
    position: fixed;
    top: 0;
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    transform: translateX(110%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translateX(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}



.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

/* Services */

.subtitulo{
    color: #00c4cc;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 70px;
    margin-top: 50px;
}

.nosotros{
    color:#00c4cc ;
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    margin: 30px 40px;
    margin-top: 150px;
}

.somos{
    color: #FFF135;
    font-weight: 40px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 70px;
    margin-top: 50px;
    width: 40%;
    margin-left: 400px;
    padding: 0;
}

.nosotros{
    display: block;
    flex: auto;
    background: #fff235;
    color: #00c4cc;
    text-align: center;
}

.somos{
    display: block;
    flex: auto;
    background: #00c4cc;
    color: #FFF135;
    text-align: center; 
}


.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.contenedor-servicio img{
    width: 40%;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: #FFF135;
}


.gallery{
    background: #f2f2f2;
}

.contenedor-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.img-galeria{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

.imagen-light{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.agregar-imagen{
    width: 60%;
    transform: scale(0);
    border-radius: 10px;
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.show{
    transform: translate(0);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.experts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img{
    display: block;
    margin: auto;
    width: 80%;
}

.n-expert{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-weight: 400;
}

footer{
    background: #FFF135;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
    

.contact-us{
    width: 40%;
    color: #00c4cc;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}


.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #00c4cc;
    margin-bottom: 60px;
}


@media screen and (max-width: 800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

      
    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .img-galeria{
        width: 75%;
    }
    
    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
    
}


@media screen and (max-width: 500px){
    .menu-navegacion{
        width: 65vw;
    }

    .hamburguer{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .contenedor-head{
        width: 100%;
    }
    
    .agregar-imagen{
        width: 90%;
    }

    .social-media{
        width: 100%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 95%;
        margin-bottom: 40px;
    }

    .nosotros{
        width: 80%;
    }

    .somos{
        width: 40%;
       margin-left: 130px;
    }

    .contenedor-head img{
        width: 80%;
    }
    
}